h1 {
  width:35%;
  text-align:center;
  margin: 0 auto;
}

h3 {
  width:35%;
  text-align:center;
  margin: 0 auto; 
}

h4 {
  text-decoration-color: black;
}
/*adapted from w3schools lesson */ 

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/*adapted from w3schools lesson */ 

.navbar {
  bottom: 0;
  position: fixed;
  width:27.5%;
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: blue;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


/*adapted from w3schools*/
form{
  width:50%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
}

/*h3{
  width: 80px;
  margin-top: -20px;
  margin-left: 5px;
  background: white;
}*/