<html>


<head>
    <meta charset="UTF-8">
    <title>Property Management</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100&amp;display=swap" rel="stylesheet">
    <link href="public/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="navbar" align='center'>
        <ul>
            <li><a href="index.html" class="li-nav">Home</a></li>
            <li><a href="properties.html" class="li-nav">Properties</a></li>
            <li><a href="tenants.html" class="li-nav">Tenants</a></li>
            <li><a href="owners.html" class="li-nav">Owners</a></li>
            <li><a href="leases.html" class="li-nav">Leases</a></li>
        </ul>
    </div>
    <div id='title-bar'>
        <h1>The Sequelists Property Management Company</h1>
    </div>

</html>